<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<string>QData</string>
	<key>AppSupportFolder</key>
	<string>Unearth</string>
	<key>LogFile</key>
	<string>QLog.txt</string>
	<key>DefaultStartParams</key>
	<string>-action dotest -test 12 -debug -debuglevel 3</string>
	<key>DataFile_DelverCards</key>
	<string>QDelverCards.plist</string>
	<key>DataFile_EndOfAgeCards</key>
	<string>QEndOfAgeCards.plist</string>
	<key>DataFile_WonderCards</key>
	<string>QWonderCards.plist</string>
</dict>
</plist>
